<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>召集令-累计收益</title>
</head>
<body>
<div class="nk-container">
	<!-- 头部 -->
	<header class="bg-dark sticky-top" th:replace="index::header">
	</header>

	<!-- 内容 -->
	<div class="main">
		<div class="container p-5 mt-3 mb-3">
			<!-- 基本信息 -->
			<h6 class="text-left text-info border-bottom pb-2 mt-5">当前收益一览</h6>
			<div class="form-group row mt-4">
				<label  class="col-sm-2 col-form-label text-left">当前收益:</label>
				<span class="col-sm-2 col-form-label text-left" th:utext="${fee}"></span>
			</div>



		</div>
	</div>

	<!-- 尾部 -->
	<footer class="bg-dark" th:replace="index::footer">
	</footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script>
	$(function(){
		bsCustomFileInput.init();
	});
</script>
</body>
</html>
