<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>召集令-我是令主</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">













				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
<!--						<li class="nav-item">-->
<!--							<a class="nav-link" href="profile.html">个人信息XXXX</a>-->
<!--						</li>-->
						<li class="nav-item">
							<a class="nav-link active" th:href="@{/master/mypost}">我发布的召集令</a>
						</li>
<!--						<li class="nav-item">-->
<!--							<a class="nav-link" href="myreply.html">我的回复XXXX</a>-->
<!--						</li>-->
					</ul>
<!--					<a href="profile.html" class="text-muted position-absolute rt-0">返回个人主页&gt;</a>-->
				</div>







				<div class="position-relative">
					<button type="button" class="btn btn-primary btn-sm position-absolute rt-0" data-toggle="modal" data-target="#publishModal" th:if="${loginUser!=null}">我要发布</button>
				</div>
				<!-- 弹出框 -->
				<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="publishModalLabel">新召集令发布</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">召集令标题：</label>
										<input type="text" class="form-control" id="recipient-name" value="【召集令】" required="required">
									</div>
									<div class="form-group">
										<label for="message-text" class="col-form-label">召集令描述：</label>
										<textarea class="form-control" id="message-text" rows="5" value="【召集令描述】" required="required"></textarea>
									</div>
									<div class="form-group">
										<label for="people-num" class="col-form-label">召集人数：</label>
										<input type="text" class="form-control" id="people-num">
									</div>
									<div class="form-group">
										<label for="message-kind" class="col-form-label">召集令类型：</label>
										<select id="message-kind" name="message-kind" class="form-control">
											<option value ="技术交流">技术交流</option>
											<option value ="学业探讨">学业探讨</option>
											<option value ="社会实践">社会实践</option>
											<option value ="公益志愿者">公益志愿者</option>
											<option value ="游玩">游玩</option>
										</select>
									</div>
									<div class="form-group">
										<label for="message-date" class="col-form-label">召集结束日期：</label>
										<input type="date" class="form-control" id="message-date">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="publishBtn">发布</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 提示框 -->
				<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="hintModalLabel">提示</h5>
							</div>
							<div class="modal-body" id="hintBody">
								发布完毕!
							</div>
						</div>
					</div>
				</div>






				<!-- 我的帖子 -->
				<div class="mt-4">
					<h6>
						<b class="square">
						</b>
						我发布的召集令(
						<span th:text="${page.rows}"></span>
						)
					</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4" th:each="map:${discussPosts}">
							<div class="font-size-16 text-info">
								<a th:href="@{|/discuss/detail/${map.post.id}|}" th:utext="${map.post.title}" class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
								<span class="badge badge-secondary bg-success" th:if="${map.post.finishOrNot==0}">待响应</span>
								<span class="badge badge-secondary bg-info" th:if="${map.post.finishOrNot==1}">已响应</span>
								<span class="badge badge-secondary bg-warning" th:if="${map.post.finishOrNot==2}">已完成</span>
								<span class="badge badge-secondary bg-danger" th:if="${map.post.finishOrNot==3}">已取消</span>
								<span class="badge badge-secondary bg-primary" th:if="${map.post.finishOrNot==3}">到期未达成</span>
							</div>
							<div class="mt-1 font-size-14" th:utext="${map.post.content}">
								金三银四的金三已经到了，你还沉浸在过年的喜悦中吗？
								如果是，那我要让你清醒一下了：目前大部分公司已经开启了内推，正式网申也将在3月份陆续开始，金三银四，春招的求职黄金时期已经来啦！！！
								再不准备，作为19应届生的你可能就找不到工作了。。。作为20届实习生的你可能就找不到实习了。。。
								现阶段时间紧，任务重，能做到短时间内快速提升的也就只有算法了，
								那么算法要怎么复习？重点在哪里？常见笔试面试算法题型和解题思路以及最优代码是怎样的？
								跟左程云老师学算法，不仅能解决以上所有问题，还能在短时间内得到最大程度的提升！！！
							</div>

							<div class="text-right font-size-12 text-muted">
								发布于 <b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 10:10:10</b>
							</div>
						</li>

					</ul>
					<!-- 分页 -->
					<nav class="mt-5" th:replace="index::pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item"><a class="page-link" href="#">首页</a></li>
							<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">下一页</a></li>
							<li class="page-item"><a class="page-link" href="#">末页</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer">
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/index.js}"></script>
	<script>
		$(function(){
			bsCustomFileInput.init();
		});
	</script>
</body>
</html>
